<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FID Page</title>
</head>

<body>
<form id="form-me" action="/wait/" method="POST">
  {% csrf_token %}
  <input name="sleep_time" hidden type="number" value="1000"/>
  <button type="submit" style="width: 400px; height: 200px;">Click for loading</button>
</form>
<form action="/fid/">
  {% csrf_token %}
  <button id="button-me" type="button" style="width: 400px; height: 200px;">Click for response</button>
</form>
</body>
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript">
    $("#button-me").click(function() {
        setTimeout(function(event) {
            window.location.href = '/fid/';
        }, 200);
    });
</script>
</html>