<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casual Impact Tool</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

{% include "header.html" %}

<body>
<div class="preloader-wrapper">
    <div class="preloader">
        <img src="/static/images/preloader.gif">
    </div>
</div>
<div class="container-lg">
    <div id="success" class="alert alert-success" role="alert">
        Your analysis has been started. You will receive a result through email.
    </div><br>
    <div class="form-group">
      <label for="date"><b>Input Impact Date</b></label>
      <input class="form-control" type="date" name="impact_date" id="date" placeholder="yyyy-mm-dd"/>
    </div>
    <div class="form-group">
      <h2>Upload the file</h2>
      <label for="file"><b>CSV File (Date, Clicks, Impressions, CTR, Position)</b></label>
      <input type="file" class=".form-control-file" id="file"
             accept=".csv"/>
    </div>
    <div class="form-group">
      <button class="btn btn-info" id="check" style="width: 150px; height: 60px;">Get Analysis Report</button>
    </div>

</div>
<br><br>
<div>
    <table class="table" id="result-table" style="background-color: white;">
    </table>
</div>
</body>

<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script>
let $loading = $('.preloader-wrapper').hide();

$(document).ready(function () {
    $('.alert').hide();
    $('#success').hide();
});

$("#check").click(function() {
  $loading.show();
  let file = document.getElementById('file').files[0];
  let date = $('#date').val();

   const formData = new FormData();
   formData.append('file', file);
   formData.append('impact_date', date);

   fetch('/api/v1/casualImpact', {
       method: 'POST',
       headers: {
           "X-CSRFToken": '{{ csrf_token }}',
       },
       body: formData
   }).then(
       response => response.json()
   ).then(
       (success) => {
           $loading.hide();
           $('#success').show();
       }
   ).catch(
       (error) => {
       }
   );
});

</script>

<style>
body {
    background-image: url("/static/images/bg.jpg");
}
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}
</style>
</html>