<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">SEO Analysis Tools</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/lighthouse/">Lighthouse Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/csv/">CSV Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/scraping_tool/">HTML Scraping Tool</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/key_patterns/">URL Key Patterns Extractor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/keyword_search/">Keyword Search Tool</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/html/">HTML Tool</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/searchmetrics_tool/">Searchmetrics API Tool</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/domain_searchmetrics/">Domain Searchmetrics Tool</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search_volume/">Search Volume Tool</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/domain_lighthouse/">Domain Lighthouse Tool</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/keyword_domain/">Keyword Domain Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/casual_impact/">Casual Impact Tool</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/category_domain/">Category Domain Tool</a>
          </li>
        </ul>
      </div>
    </nav>
</header><br>